<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.reactnativehero.umenganalytics">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 可选，用来保存设备等相关信息，使得统计结果(如新增用户数)更加精准。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 可选，通过获取位置信息，为开发者提供反作弊功能，剔除作弊设备；同时校正用户的地域分布数据，使报表数据更加准确 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>

        <!-- value 统一前面加空格，避免读取 meta data 自动转型成数字 -->
        <meta-data
            android:name="UMENG_APP_KEY"
            android:value="\ ${UMENG_APP_KEY}"
        />
        <meta-data
            android:name="UMENG_PUSH_SECRET"
            android:value="\ ${UMENG_PUSH_SECRET}"
        />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="\ ${UMENG_CHANNEL}"
        />

    </application>

</manifest>